/*Reset CSS để dễ căn chỉnh hơn*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;

}
/*
1,Từ ngoài vào trong
2,Từ trên xuống dưới
3,Tổng quát đến chi tiết


1, Vị trí
2,kích thước
3 Màu sắc
4 Kiểu dáng(Kiểu chữ,hình tròn,vuông...)
*/

/* Những class dùng chung */
.clear{
    clear: both; /*Dùng để xử lí lỗi float không bao trùm đc khối*/
}

.text-white{
    color: white !important;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
/* Thay thế clear */

.row::after{
    content:" ";
    display: block;
    clear: both;
}  

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-three{
    width: calc(100%/3);
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/* Main */
#main{

}

#header{
 height: 46px;
 background-color: black;
 position: fixed;
 top:0;
 left:0;
 right: 0;
 z-index: 1; /*Để cho khối header nổi lên khi bị các phần dưới đè(ảnh,...)*/
}
#nav{
font-size: 0;
display: inline-block; /*Để thu gọn các khối bằng chiều ngang khối
cuối cùng,nó sẽ tạo khoảng chống còn lại để icon nhảy lên.*/

}
#nav>li{
    display: inline-block;
    
}
#nav li{
position: relative;
}
#nav>li>a{
    color: white;
    text-transform: uppercase; /*Dùng để viết hoa chữ cái*/
}
#nav li:hover .subnav{
    display: block;  /*Để hiện lên khi nhấn vào MORE sẽ ra cái khối*/
}
#nav li a{
    
    text-decoration: none; /*Loại bỏ dấu gach chân ở các chữ của thẻ a*/
    line-height: 46px; /*Bằng chiều cao của thẻ header nên căn giữa luôn*/
    padding: 0px 24px;
    display: inline-block;
    font-size: 16px; /*Mặc định là 16 px để cho  các hover khít vào với nhau*/
}
#nav>li:hover>a{
   color: black;
   background-color: #ccc;
  
}
#nav .subnav{
    display: none;
    min-width: 160px;/* Chiều ngang tối thiểu nếu cotent dài nó sẽ dài theo*/
    position:absolute;
    top:100%;  /*Để cho cái bảng cấp 2 không bịn đè lên trên trong 1 số trình duyệt lỗi*/
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /*Bóng đổ cho cái khối để phân biệt cho dễ*/
}
#nav .subnav li{ 
      /*Dể cho cái tính chất hover hết chiều ngang của (Extra và media)*/
    width: 100%;

}
#nav .subnav a{
    color: black;
    padding: 0 12px;  /*Để cho các padding thụt vào so với MORE*/ 

}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}
#nav .nav-arrow-down{ /*Css như này để sau đổi icon để không phải css lại nữa*/
    font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    /*position: absolute;  Không dùng float:right; thì có thể dúng cái này
    top:0;
    right: 0;*/
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer; /*Để khi cho chuột vào nó sẽ thành trỏ bàn tay*/
}
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px; /*Tạo khoảng cách vs header*/
    padding-top: 50%; /*Tỉ lệ theo chiều ngang của chính nó và 1/2 cngang = chiều cao*/
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    
}
#slider .text-content{
    position: absolute;
    bottom: 47px;   /*Bằng 32px + 15px theo khối*/
    color: #fff;
    /*Cách 1 căn khối ra giữax  */width: 100%;
    /*
    Cách 2:
    left:50%;
    transform: translateX(-50%);*/
    text-align: center;
}
#slider .text-heading{
    font-weight: 500; /*Giảm độ dày của chữ dao động từ 100-700px*/
    font-size: 24px;
    
}
#slider .text-decription{
    font-size: 15px;
    margin-top: 25px;
}
#content{

}

#content .content-section{
     max-width:800px; /*Khi thu nhỏ màn hình chữ không bị mất */
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
     font-weight: 500; /*Độ dày của chữ */
    text-align: center;
     letter-spacing: 4px /*Khoảng cách các chữ */
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
     text-align: justify; /*Căn đều hai bên chữ các dòng thẳng nhau */
     line-height: 1.4; /*Khoảng cách của mỗi dòng(Nếu là tiếng Việt nên để thế này ) */
}
#content .members-list{
    margin-top: 48px; 
}
/* #content .member-item{
      float: left; Căn cho 3 ảnh trên cùng 1 hàng ngang 
     CÁch 1: width: calc(100%/3);  Để chiều ngang bằng đống chữ dài ở trên 
    Nó sẽ tách ảnh ra  chút để bằng 100%
    width: 33.33333%; (Đã thay bằng class chung)
    text-align: center;
} */
#content .member-name{
    font-size: 15px;
   
}
#content .member-img{
    margin-top: 15px;
     width: 154px;  /* Kích thước của ảnh, chiều cao tự tỉ lệ vs chiều rộng and ngươc lại */
    border-radius: 4px;  /* Dùng để bo góc ảnh lại*/
}
/* Tour Section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: white;
    margin-top: 40px;
    list-style: none; /*Bỏ dấu chấm đặc trưng của thẻ ul,li*/  
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;

}
.tickets-list .sold-out{
    background-color: red;
    color: white;
    padding: 3px 4px;
    margin-left: 8px;
}

.tickets-list .quanity{
    float: right; /*Có đặc tính float này thì mới sd đc width,height,margin-top..*/
    font-size: 15px;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: -3px; 
}
/* PLACE */

.places-list{

    /*margin-left: -8px; Không cần nữa vì dùng class chung
    margin-right: -8px; Margin-left,right kĩ thuật trong thư viện bostrap
     Có thể viết nhanh margin: 32px -8px -8px */
     margin-top: 32px;
    
}
/* .place-item{
    width: 33.33333%;
    Không cần dùng nữa vì đã có class chung col,col-three
} */
.place-img{
    width: 100%;
    display: block;  /*Để nối liền phần ảnh vào vì nó có tc inline*/
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;

}
.place-time{
    padding: 15px 0;
    color: #757575;
}
.place-desc{
    padding: 15px 0;
    line-height: 1.4;
}
.place-buy-btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 16px;
    margin-top: 9px;
    display: inline-block;
    border: none;
}
.place-buy-btn:hover{
    background-color: #ccc;
    color: black;
}
 /* PHẦN BẢNG XANH TRẮNG */

.modal{
    position: fixed; /*Để tạo lên một lớp phủ mờ vs rgba*/
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
     /* display: flex; Mới đầu phải cho cái này vào để căn  */
     display: none; 
     align-items: center;  /*Căn giữa theo chiều cao flex */
     justify-content: center;/*Căn giữa theo chiều ngang của flex */
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 36px);  /*Giống như kiểu reponsive khi thu nhỏ khối sẽ nhỏ theo */
    min-height: 200px;
    position: relative;

    animation: Hieu-ung ease 0.7s;
}

.modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.modal-heaing-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
}
.modal-close:hover {
    color: black;
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}

.modal-label {
     display: block;/* Để mỗi thg label và input nằm trên một hàng riêng biệt */
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets {
    background-color: #009688;
    width: 100%;
    padding: 16px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    float: right;
}
.modal-footer a{
    color: #2196F3;
} 

@keyframes Hieu-ung{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* Contact form */
.contact-content{
    margin-top: 48px;
    
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 9px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn{
    background-color: black;
    color: white;
    padding: 9px 15px;
    border: none;
    float: right;
    cursor: pointer;
}
.form-submit-btn:hover{
    background-color: #ccc;
    color: black;
} 

.map-section img{
    width: 100%;
    filter: grayscale(50%); /*Phủ lớp màng đen ở ảnh*/
}


/* Footer section */

#footer{
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: black;
    opacity: 0.6;
    text-decoration: none;
}
#footer .coppyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.4;
}
#footer .coppyright{
    margin-top: 15px;
    color: black;
    opacity: 0.6;
}
#footer .coppyright a{
    color: black;
    opacity: 0.6;
}













